* {
    margin:0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 2px 4px #444;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #fff;
}
header img {
    width: 120px;
    margin: 4%;
}
#ham-header {
    width: 60px;
    height: 60px;
    border: none;
    background: none;
    margin: 4%;
}
#ham-header span {
    display: block;
    width: 50px;
    height: 3px;
    margin: 12px 5px;
    border-radius: 8px;
    background: #000;
}
#mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    width: 0;
    margin-left: 20%;
    overflow: hidden;
    transition: 0.5s;
    align-self: right;
}
#mobile-nav a:nth-child(1) {
    font: 58px Arial;
    color: #fff;
    text-decoration: none;
    margin: 88px 45px;
    text-align: right;
}
#mobile-nav a {
    font: 32px Arial;
    text-decoration: none;
    padding: 18px;
    color: #fff;
    transition: 0.8s;
}
#base1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background: url(../images/landing-1-cover.jpg);
    background-size: cover;
}
#base1 h1 {
    font: 46px Arial;
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 40% 5% 20%;
    line-height: 2;
}
#base1 h1 b {
    background-color: #777;
    color: #fff;
    padding: 8px;
}
#direct-jobs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.7);
    align-items: center;
}
#direct-jobs div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#direct-jobs input[type=text] {
    border: 2px solid #000;
    border-radius: 8px;
    height: 48px;
    width: 60%;
    background-color: #f5f5f5;
    font-size: 19px;
    padding: 8px;
}
#direct-jobs input[type=submit] {
    width: 80px;
    border: none;
    height: 60px;
    background: #444;
    color: orange;
    font-size: 24px;
    border-radius: 8px;
}
#direct-jobs a {
    text-align: center;
    font: 18px Calibri;
    color: #fff;
    margin-top: 10px;
}
#desktop-contact {
    display: none;
}
@media screen and (min-width:720px) {
    header img {
        margin: 4% 6%;
    }
    #ham-header {
        display: none;
    }
    #mobile-nav {
        position: fixed;
        left: 30px;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        height: auto;
        background: none;
        margin-left: 15%;
    }
    #mobile-nav a:nth-child(1) {
        display: none;
    }
    #mobile-nav a {
        font: 20px Calibri;
        color: #666;
        margin-top: 4px;
    }
    #mobile-nav a:hover {
        background: orange;
        border-radius: 18px;
        color: #222;
    }
    #mobile-nav a:nth-child(6) {
        margin-left: 200px;
        background: orange;
        border-radius: 18px;
    }
    #base1 {
        width: 100%;
        height: 90vh;
        overflow: hidden;
    }
    #base1 h1 {
        font: 46px Arial;
        color: #fff;
        background: rgba(0,0,0,0.7);
        line-height: 2;
        padding: 12% 28%;
        text-align: center;
        line-height: 1.4;
    }
    #base1 h1 b {
        background: #000;
        color: orange;
    }
    #direct-jobs div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #direct-jobs input[type=text] {
        border: 2px solid #000;
        border-radius: 38px;
        height: 38px;
        width: 40%;
        background-color: #f5f5f5;
        font-size: 19px;
        padding: 8px;
    }
    #direct-jobs input[type=submit] {
        width: 80px;
        border: none;
        height: 60px;
        background: orange;
        color: #000;
        font-size: 24px;
        border-radius: 50px;
        transition: 0.5s;
    }
    #direct-jobs input[type=submit]:hover {
        background: #000;
        color: orange;
    }
    #direct-jobs a {
        text-align: center;
        font: 18px Calibri;
        color: #fff;
        margin-top: 10px;
    }
    #direct-jobs a:hover {
        color: #999;
    }
    #desktop-contact {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;  
        flex-direction: column;
        width: 0%;
        height: 100vh;
        margin: 0;
        float: right;
        background: orange;
        overflow: hidden;
        box-shadow: 2px 2px 6px #222 inherit;
        transition: 0.5s;
    }
    #desktop-contact a:nth-child(1) {
        width:  120px;
        margin-top: 5%;
        font: 26px arial;
        padding: 4px;
        text-decoration: none;
        text-align: center;
        background: #000;
        color: orange;
        margin-left: -25px;
    }
    #desktop-contact h2 {
        font: 36px Arial;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 18px;
        text-shadow: 2px 2px 6px #222;
    }
    #desktop-contact h4 {
        text-align: center;
        font-size: 20px;
        color: #222;
        font-family: Verdana;
        margin-top: 48px;
        padding: 8px;
        box-shadow: 2px 2px 6px #222;
    }
    #desktop-contact a {
        color: #222;
        text-decoration: none;
        text-align: center;
        font: 16px Verdana;
        padding: 24px;
    }
}
#base2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.base2-media {
    display: flex;
    flex-direction: column;
    border-left: 9px solid orange;
    margin: 10%;
}
.base2-media h4 {
    font: 22px Arial;
    color: rgb(182, 121, 7);
    padding: 12px;
}
.base2-media p {
    color: #444;
    font: 18px Calibri;
    padding: 12px;
}
#base3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
}
#base3 h3 {
    font-family: calibri;
    font-size: 24px;
    color: #0c4240;
    margin: 40px 25px;
}
#base3 h1 {
    font-size: 42px;
    font-family: calibri;
    color: #0c4240;
    margin: 20px 25px;
    width: 80%;
}
#base3 p {
    font-family: calibri;
    font-size: 18px;
    margin: 25px;
    color: #444;
    width: 80%;
}
#base3 img {
    align-self: center;
    width: 80%;
}
#base3 a {
    font-family: Calibri;
    background: #0c4240;
    color: #fff;
    font-size: 26px;
    font-family: Calibri;
    width: 50%;
    margin: 25px 20px 25px;
    height: 10vh;
    text-align: center;
    line-height: 3.5;
    border: none;
    border-radius: 28px;
    box-shadow: 3px 3px 9px #032726;
    text-decoration: none;
}
@media screen and (min-width:720px) {
    #base2 {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    .base2-media {
        background: #eeedeb;
        margin-left: 0px;
        margin: 0;
    }
    .base2-media h4 {
        font: 28px calibri;
        padding: 18px;
    }
    .base2-media p {
        font: 18px arial;
        line-height: 1.5;
        width: 60%;
        padding: 18px;
    }
    #base3 {
        display: flex;
        margin-top: 88px;
    }
    #base3 h3 {
        margin-left: 8%;
        font-size: 26px;
        color: teal;
    }
    #base3 h1 {
        font-size: 54px;
        font-family: Arial;
        margin-left: 8%;
        width: 40%;
        text-transform: uppercase;
        background: linear-gradient(to right bottom, rgb(28, 170, 170), #012524);
        background-clip: text;
        color: transparent;
    }
    #base3 p {
        margin-left: 8%;
        font-size: 26px;
        width: 40%;
    }
    #base3 img {
        width: 500px;
        margin-left: 50%;
        margin-top: -250px;
    }
    #base3 a {
        margin-left: 8%;
        width: 256px;
        height: 88px;
        margin-top: 25px;
        margin-bottom: 88px;
        transition: 0.5s;
    }
    #base3 a:hover {
        width: 270px;
        background: orange;
    }
}
#base4 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#base4 img {
    width: 80%;
    align-self: center;
    margin-top: 88px;
}
#base4 h1 {
    color: #444;
    text-align: center;
    font-family: Arial;
}
#base4 h2 {
    color: #444;
    text-align: center;
    font-family: Arial;
}
#large {
    text-align: center;
    font: 22px Calibri;
    line-height: 1.5;
    width: 80%;
    align-self: center;
    margin-top: 25px;
}
#base4 hr {
    color: orange;
    height: 4px;
    align-self: center;
    width: 80%;
    background: orange;
    margin: 30px 0px;
    border: none;
}
#plates {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 48px;
}
.modern-plates {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    background: teal;
    border-radius: 28px;
    margin-top: 88px;
}
.modern-plates h3 {
    font: 28px Verdana;
    padding: 18px;
    color: #fff;
}
.shorr {
    color: #fff;
    padding: 18px;
    font-family: Calibri;
}
@media screen and (min-width:720px) {
    #base4 {
        background: #0c4240;
    }
    #base4 img {
        width: 20%;
        filter: invert(100);
    }
    #base4 h1, #base4 h2 {
        color: #fff;
    }
    #large {
        text-align: center;
        font: 22px Calibri;
        line-height: 1.5;
        color: #fff;
        width: 60%;
        align-self: center;
        margin-top: 25px;
    }
    #base4 hr {
        width: 40%;
    }
    #plates {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .modern-plates {
        display: flex;
        flex-direction: column;
        width: 356px;
        height: 180px;
        align-self: center;
        background: teal;
        border-radius: 28px;
        margin-top: 88px;
        transition: 0.5s;
    }
    .modern-plates:hover {
        width: 380px;
    }
    .modern-plates h3 {
        font: 22px Verdana;
        padding: 18px;
        color: #fff;
    }
    .shorr {  
        font-size: 17px;
    }   
}
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 88px;
    background: orange;
}
footer img {
    width: 120px;
    margin: 30px 12px;
}
footer h3 {
    font: 36px Verdana;
    color: rgb(37, 37, 37);
    padding: 18px;
}
footer hr {
    width: 80%;
    height: 4px;
    background-color: orangered;
    border: none;
    margin: 5%;
}
footer div {
    display: flex;
    flex-direction: column;
}
footer div a {
    font: 22px Verdana;
    color: #222;
    text-decoration: none;
    margin: 8px 24px;
}
footer h2 {
    font: 28px Verdana;
    color: #333;
    text-align: center;
    margin-top: 48px;
    border-bottom: 4px solid teal;
    width: 60%;
    align-self: center;
    padding-bottom: 18px;    
}
footer div label {
    font: 26px Verdana;
    color: #222;
    margin-top: 32px;
    font-weight: 600;
    text-align: center;
}
footer div p {
    font: 22px Verdana;
    color: #222;
    text-align: center;
    margin-bottom: 18px;
}
@media screen and (min-width:720px) {
    footer img {
        align-self: center;
        margin: 60px 0px 0px 0px;
    }
    footer h3 {
        text-align: center;
    }
    footer hr {
        align-self: center;
        width: 40%;
    }
    footer div {
        flex-direction: row;
        margin-bottom: 48px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer div a:hover {
        transition: 0.5s;
        background: #422;
        color: orange;
        padding: 16px;
        border-radius: 8px;
    }
    #feet-contact {
        display: flex;
        flex-direction: column;
    }
}
#serv-1 {
    display: flex;
    flex-direction: column;
    background: url(../images/landing-1-cover.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
}
#serv-1 h1 {
    font-size: 72px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 3;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 70vh;
    color: #fff;
    padding-top: 128px;
}
#serv-plates {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.s-plates {
    width: 80%;
    height: 200px;
    box-shadow: 3px 3px 9px #e4e1e1;
    margin: 20px 0px;
    border-radius: 8px;
}
.s-plates h2 {
    font: 26px Verdana;
    width: 80%;
    color: teal;
    padding: 12px;
    border-bottom: 6px solid orange;
}
.s-plates p {
    font: 18px Arial;
    color: #333;
    padding: 20px 5px;
    line-height: 1.5;
}
@media screen and (min-width:720px) {
    #serv-plates {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .s-plates {
        box-shadow: 4px 4px 12px #b8b4b4;
        width: 500px;
        height: 200px;
    }
}
#about {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#about h2 {
    font: 30px Arial;
    padding: 24px;
    color: teal;
    font-weight: 600;
}
#about hr {
    width: 80%;
    height: 4px;
    background: orange;
    border: none;
}
#about p {
    font: 24px Calibri;
    color: #333;
    line-height: 1.5;
    padding: 18px;
}
@media screen and (min-width:720px) {
    #serv-1 {
        height: 70vh;
    }
    #about h2 {
        text-align: center;
    }
    #about hr {
        width: 40%;
        margin-left: 30%;
    }
    #about p {
        margin-left: 25%;
        font: 28px Arial;
        line-height: 2;
        width: 50%;
        text-align: center;
    }

}